.lblTitulo {
    font-size: 2em;
    margin: 10px 5px 0px 20px;
}

.divForm {
    border: 1px;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 10px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 10px 1px;
    width: 100%;
}

.divCorpo div, .divDev div {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.divCorpo, .divDev {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.divCentral {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.dados div {
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dados {
    width: 100%;
}

.infoPedido {
    display: flex;
    flex-direction: row;
}

.infoPedido > div {
    width: 50%;
}

.infoPedido > .infoValor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

.infoPedido .valor > span {
    font-size: 1em;
}

.infoPedido .valor > label {
    font-size: 4em;
}

.infoPedido .bold {
    font-size: 0.9em;
}

.bold {
    font-weight: bold;
}

.divDev div {
    margin: 0px 20px;
}

.divBtns {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aCep {
    font-size: 12px;
    font-weight: 700;
}

.divColumn {
    margin: 15px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
}

select {
    height: 26px;
}

.limitarTam > input[name=Celular] {
    max-width: 192px;
}

.limitarTam > span {
    overflow-wrap: break-word;
    max-width: 192px;
}

table {
    width: 100%;
}

.linhaTitulo {
    border-bottom: 1px solid black;
}

.linhaConteudo {
    border-bottom: 1px solid gray;
}

.margemEsquerda {
    margin-left: 10px;
}

.infoPag {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 50%;
    padding: 5px;
    background-color: #E1BEE9;
    text-align: center;
    cursor: pointer;
}

.infoPag > .att {
    font-size: 1em;
    margin-bottom: 3px;
    font-family: 'Times New Roman';
    font-style: normal;
}

.sttPedidos > .titulo {
    width: 100%;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.sttPedidos > .finalizados,
.sttPedidos .finalizados + div #data {
    background-color: #44C1C0;
}

.sttPedidos > .aceitos,
.sttPedidos .aceitos + div #data {
    background-color: #3AAF57;
}

.sttPedidos > .aguardando,
.sttPedidos .aguardando + div #data {
    background-color: #C1B445;
}

.sttPedidos > .recusados,
.sttPedidos .recusados + div #data {
    background-color: #B9503E;
}

.sttPedidos > div {
    /*height: 200px;*/
    max-height: 430px;
    overflow-y: auto;
}

.sttPedidos .pdd[pedido] {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #B7E7E6;
    display: flex;
    flex-direction: row;
}

.sttPedidos .pdd:hover {
    background-color: #99DDDC;
}

.sttPedidos .pdd div {
    width: 33%;
    max-height: 120px;
    overflow-y: auto;
}

.sttPedidos .pdd .btnPdd {
    text-align: end;
    text-transform: uppercase;
}

.sttPedidos .pdd #cliente {
    font-size: 1.2em;
}

.sttPedidos .pdd #data {
    padding: 3px;
    border-radius: 5px;
}

.mensagens {
    margin-bottom: 10px;
}

.mensagens label {
    margin: 0;
    padding: 7px;
}

.mensagens .pddAceitar {
    border: 2px solid #3AAF57;
    background-color: rgba(58, 175, 87, 0.3);
    border-radius: 10px;
}

.mensagens .pddFinalizar {
    border: 2px solid #3AAEA3;
    border-radius: 10px;
    background-color: rgba(58, 174, 163, 0.3);
}

.mensagens .pddEntregar {
    border: 2px solid #44C1C0;
    border-radius: 10px;
    background-color: rgba(68, 193, 192, 0.3);
}

.mensagens .pddErro {
    border-radius: 10px;
    background-color: rgba(185, 80, 62, 0.3);
    border: 2px solid #B9503E;
}

.sttPedidos #preco {
    font-size: 1.5em;
}