body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgba(250,191,34,0.2);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

html {
    height: 100%;
}

.divTop {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #FABF22;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250,191,34,0.7);
}

.btnsMenu > a {
    margin: 5px 7.5px;
    color: black !important;
    text-decoration: none !important;
    /*background-color: rgba(100, 100, 100, 1);*/
}

.btnsMenu > a:hover {
    font-weight: 600 !important;
    background-color: transparent !important;
}

.btnsMenu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btnsEntrarCadastrar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    text-align: center;
}

.divBody {
    margin: 5px 40px;
    height: 80%;
}

.dropdown-menu hr {
    margin: 3px 5px;
}

.spanLivros {
    font-size: 18px;
}

.spanConserto, .spanPerso {
    font-size: 10px;
}

.lblMopf {
    margin: 0;
    font-size: 30px;
    box-sizing: content-box;
}

.lblMopf:hover {
    cursor: pointer;
}

.aviso {
    margin: 0px 20px;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 0, 0, 1);
    border-radius: 5px;
    color: white;
    text-align: center;
}

.avisotitulo {
    text-transform: uppercase;
}

.btnsEntrarCadastrar > a {
    margin-right: 5px;
    text-decoration: none !important;
    padding: 5px;
    border-radius: 3px;
    color: black;
}

.btnsEntrarCadastrar > a:hover {
    text-decoration: none;
    font-weight: 600;
}

.btnsEntrarCadastrar > .entrar:hover {
    background-color: rgba(1, 133, 31, 0.3);
}

.btnsEntrarCadastrar > .cadastrar:hover {
    background-color: rgba(97, 0, 176, 0.3);
}