@using ConsertoDeLivro.Models

@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Endereco endereco = new Endereco();
}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<style>
    .divCorpo > label {
        margin-left: 10px;
        margin-bottom: 5px;
        background-color: rgba(54, 52, 52, 0.2);
        padding: 5px;
        border-radius: 3px;
    }

    .divCorpo span {
        margin: 0;
    }

    #map {
        height: 500px;
        width: 500px;
        border: 1px solid gray;
    }

    #map, span {
        margin-left: 20px;
    }
</style>

<script src="~/Scripts/cep.js" type="text/javascript"></script>


<link href="~/Content/FormsTelas.css" rel="stylesheet" type="text/css" />

<div class="divForm">
    <label class="lblTitulo">@ViewBag.Title</label>
    <hr />
    <div class="divCorpo">
        <label>WhatsApp: (19) 99493-4733</label>
    </div>
    <div class="divCorpo">
        <label><span>Nosso endereço: </span>@endereco.getEndCompleto()</label>
    </div>
    <div id="map">
    </div>
    <span class="text-danger bold">A sua localização pode não estar correta.</span>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA556CdVk9h-IiF6AgLGZbpN-uluvrK6TA&callback=initMap" 
        async>
</script>
