@model ConsertoDeLivro.Models.Usuario

@{
    ViewBag.Title = "Entrar";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<label class="lblTitulo">@ViewBag.Title</label>
@using (Html.BeginForm()) {
    <br />
    <div>
        @*<label>Email</label>*@
        <input type="text" placeholder="Email" id="Email" name="Email" />
    </div>
    <br />
    <div>
        @*<label>Senha</label>*@
        @*@Html.PasswordFor(m => m.Senha, htmlAttributes: new { @placeholder="Senha" })*@
        <input type="password" placeholder="Senha" name="Senha" />
        <span class="msgErro">@ViewBag.MsgErro</span>
    </div>
    <br />
    <div>
        @Html.ActionLink("Não tem uma conta? Crie uma clicando aqui", "Criar", "Usuario")
    </div>
    <br />
    <div>
        <input class="btn btn-success" type="submit" value="Entrar">
    </div>
    <br />
    <div class="divBtns">
        @Html.ActionLink("Cancelar", "Cancelar", "ConsertoDeLivro", "", new { @class = "btnCancelar centralizado" })
        <a href="/ConsertoDeLivro/TrocarSenha">Esqueci a senha</a>
    </div>
}
